<div class="filter-container">
  <h3>Filtrer les propriétés</h3>
  
  <form>
    <div class="filter">
      <label for="type">Type de propriété</label>
      <select id="type" [(ngModel)]="filters.type" name="type">
        <option value="">Tous</option>
        <option value="appartement">Appartement</option>
        <option value="maison">Maison</option>
        <option value="villa">Villa</option>
        <option value="bureau">Bureau</option>
        <option value="locale_commercial">Locale Commercial</option>
        <option value="terrain">Terrain</option>
      </select>
    </div>

    <div class="filter">
      <label for="price">Prix</label>
      <input id="price" [(ngModel)]="filters.price" name="price" type="number" placeholder="Prix max" />
    </div>

    <div class="filter">
      <label for="location">Emplacement</label>
      <input id="location" [(ngModel)]="filters.location" name="location" type="text" placeholder="Ville, quartier, etc." />
    </div>

    <div class="filter">
      <label for="bedrooms">Chambres</label>
      <select id="bedrooms" [(ngModel)]="filters.bedrooms" name="bedrooms">
        <option value="">Tous</option>
        <option value="1">1 Chambre</option>
        <option value="2">2 Chambres</option>
        <option value="3">3 Chambres</option>
        <option value="4">4 Chambres</option>
      </select>
    </div>

    <button type="submit">Appliquer les filtres</button>
  </form>
</div>
<div class="suggested-estates mt-4 mb-5">
    <h2>Nos Immobilière</h2>
    <div class="estates-grid">
      <app-estate-card *ngFor="let estate of estates" [estate]="estate"></app-estate-card>
    </div>
</div>