<div class="card mb-4 box-shadow" style="max-width: 250px;">
  
  <img [src]="estate.imageUrl!= null?'http://localhost:8087/api/storage/files/'+estate.imageUrl:'../../assets/building.jpg'" alt="Estate image" class="img-fluid estate-image" />


  <div class="card-body text-center">
    <h5 class="card-title">{{ estate.name }}</h5>
    <p class="card-text">Price: {{ estate.price | currency }}</p>
    <p class="card-text">Type: {{ estate.status == 'FOR_RENT' ? 'Location' : 'Vente' }}</p>
    <p class="card-text">Contact-Phone: {{ estate.contactPhone }}</p>
  </div>

  <div class="card-footer">
    <div class="row g-1">
      <div class="col-4">
        <a class="btn btn-warning w-150" [routerLink]="'/estatesCRUD/edit/' + estate.id">
          Update
        </a>
      </div>
      <div class="col-4">
        <a class="btn btn-success w-150" [routerLink]="'/estate/' + estate.id">
          Details
        </a>
      </div>
      <div class="col-4">
        <button class="btn btn-danger w-150" (click)="deleteEstate(estate.id!)">
          <span *ngIf="!isLoading">Delete</span>
          <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div>

</div>
