<div class="search-area">
    <div class="overlay">
        <h1 class="search-title mt-2 mb-4">Trouvez votre bien immobilier</h1>
        <form class="search-form ">
            <div class="search-options">
                <select class="search-select">
                    <option value="appartement">Tout</option>
                    <option value="location">Location</option>
                    <option value="achat">Achat</option>
                </select>
                <select class="search-select">
                    <option value="appartement">Tout</option>
                    <option value="appartement">Appartement</option>
                    <option value="maison">Maison</option>
                    <option value="terrain">Terrain</option>
                </select>
            </div>
            <input type="text" placeholder="Rechercher un bien immobilier" class="search-input">
            <button type="submit" class="search-button">Rechercher</button>
        </form>
    </div>
</div>
