<div class="account-info-container" id="contact">
    <h2>Your Account Information</h2>
    <div class="row">
      <div class="account-details col">
        <p><strong>Full Name:</strong> {{ fullName }}</p>
        <p><strong>Email:</strong> {{ email }}</p>
        <p><strong>Phone:</strong> {{phone}}</p>
        <p><strong>Address:</strong> {{address}}</p>
        <p><strong>Member Since:</strong> {{createdIn}}</p>
      </div>
      <div class="col image-container">
        <img [src]= "imageUrl" alt="Estate image" class="estate-image" />
      </div>
      
    </div>
    
  </div>
  