<!-- Hidden file input for image upload -->
<input
  type="file"
  accept="image/*"
  (change)="selectFile($event)"
  style="display: none;"
  #fileInput
/>

<div class="account-info-container" id="contact">
  <h2>Les informations de votre compte</h2>
  <div class="row">
    <div class="account-details col">
      <p><strong>Nom : </strong> {{ user.firstname }}</p>
      <p><strong>Prénom : </strong> {{ user.lastname }}</p>
      <p><strong>Email : </strong> {{ user.email }}</p>
      <p><strong>Téléphone : </strong> {{ user.phone }}</p>
    </div>
    <div class="col-4 image-container">
      <img
        [src]="
          user.imageUrl
            ? 'http://localhost:8087/api/storage/files/' + user.imageUrl
            : '../../assets/user.png'
        "
        alt="Profile image"
        class="estate-image"
        (click)="triggerFileInput()"
      />
    </div>
  </div>
  <div class="mt-5 justify-content-center d-flex">
    <button (click)="show = !show" class="btn btn-primary mr-3">Modifier</button>
    <button class="btn btn-danger mr-3" (click)="onDelete()">Supprimer le compte</button>
    <button class="btn btn-secondary" (click)="logout()">Se Déconnecter</button>
    <label class="text text-danger mt-4" name="errorSupp">{{ errorSupp }}</label>
  </div>
</div>

<!-- Display upload status message -->
<div *ngIf="message" class="text-center alert alert-info">{{ message }}</div>

<!-- Update form -->
<div *ngIf="show" class="account-info-container">
  <h2>Modifier les informations de votre compte</h2>
  <div class="account-details">
    <div class="row">
      <p class="col-4"><strong>Nom :</strong></p>
      <input
        type="text"
        [(ngModel)]="user.firstname"
        class="form-control ml-2 col"
        placeholder="Tapez un nouveau Nom..."
      />
    </div>
    <div class="row">
      <p class="col-4"><strong>Prénom :</strong></p>
      <input
        type="text"
        [(ngModel)]="user.lastname"
        class="form-control ml-2 col"
        placeholder="Tapez un nouveau Prénom..."
      />
    </div>
    <div class="row">
      <p class="col-4"><strong>Téléphone :</strong></p>
      <input
        type="text"
        [(ngModel)]="user.phone"
        class="form-control ml-2 col"
        placeholder="Tapez un nouveau numéro de Téléphone..."
      />
    </div>
  </div>
  <div class="mt-5 justify-content-center d-flex">
    <button (click)="onUpdate()" class="btn btn-warning mr-3">Confirmer les modifications</button>
    <button (click)="show = !show" class="btn btn-danger ml-3">Annuler</button>
    <label class="text text-danger mt-4">{{ errorUpdate }}</label>
  </div>
</div>